# Node
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# System / OS
.DS_Store
Thumbs.db
db.sqlite3
*.log
